@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes loadingBar {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .loading-bar {
    @apply w-full;
    animation: loadingBar 15s linear infinite;
  }
}

.button-primary {
  border-width: 2px;
  border-color: rgb(67 56 202);
  padding: 0.4rem 1rem;
  font-weight: 600;
  margin: 0 0.25em;
  color: rgb(67 56 202);
  transition: 0.3s ease;
  border-radius: 8%;
  text-align: center;
}

.button-primary-filled {
  font-weight: 500;

  border-width: 2px;
  background-color: rgb(67 56 202);
  padding: 0.3rem 1rem;
  margin: 0 0.25em;
  color: white;
  transition: 0.3s ease;
  border-radius: 10%;
  text-align: center;
}

.button-primary:hover {
  background-color: rgb(67 56 202);
  color: white;
  text-decoration: underline;
}

.button-primary-filled:hover {
  background-color: rgb(67 56 202);
}

.button-primary:hover {
  background-color: rgb(67 56 202);
  color: white;
  text-decoration: underline;
}

.text-link-primary {
  color: rgb(67 56 202);
  transition: 0.3s ease;
}

.text-link-primary:hover {
  text-decoration: underline;
}

.button-secondary {
  margin: 0 0.25em;
  padding: 0.5rem 1rem;
  color: rgb(75 85 99);
  transition: 0.3s ease;
  border-radius: 5%;
  text-align: center;
}

.button-secondary:hover {
  background-color: rgb(224 231 255);
  color: rgb(67 56 202);
  text-decoration: underline;
}
